
#content {
    border:1px solid green;
    height:725px;
    width:100%;
    background-color: #35cbfc;
}

#container{
    border:2px solid #fc35ce;
    margin-top: 15%;
    width: 20%;
    margin-left: 35%;
    padding-left: 5%;
}